# Subsetting 2D NumPy Arrays

If your 2D numpy array has a regular structure, i.e. each row and column has a fixed number of values, complicated ways of subsetting become very easy. Have a look at the code below where the elements "a" and "c" are extracted from a list of lists.

In [1]:
# regular list of lists
x = [["a", "b"], ["c", "d"]]
[x[0][0], x[1][0]]

['a', 'c']

In [2]:
# numpy
import numpy as np
np_x = np.array(x)
np_x[:,0]

array(['a', 'c'], dtype='<U1')

For regular Python lists, this is a real pain. For 2D numpy arrays, however, it's pretty intuitive! The indexes before the comma refer to the rows, while those after the comma refer to the columns. The : is for slicing; in this example, it tells Python to include all rows.

The code that converts the pre-loaded baseball list to a 2D numpy array is already in the script. The first column contains the players' height in inches and the second column holds player weight, in pounds. Add some lines to make the correct selections.
Remember that in Python, the first element is at index 0!

Instructions
- Print out the 50th row of np_baseball.
- Make a new variable, np_weight, containing the entire second column of np_baseball.
- Select the height (first column) of the 124th baseball player in np_baseball and print it out.

In [4]:
# Import numpy package
import numpy as np, pandas as pd

In [10]:
baseball = pd.read_csv("baseball.csv")
baseball.head(3)

              Name Team Position  Height  Weight    Age PosCategory
0    Adam_Donachie  BAL  Catcher      74     180  22.99     Catcher
1        Paul_Bako  BAL  Catcher      74     215  34.69     Catcher
2  Ramon_Hernandez  BAL  Catcher      72     210  30.78     Catcher

In [15]:
# Create np_baseball (2 cols)
np_baseball_Height, np_baseball_Weight = np.array(baseball.Height), np.array(baseball.Weight)

In [19]:
# Print out the 50th row of np_baseball
print(np_baseball_Height[50])
print(np_baseball_Weight[50])

73
200

In [42]:
# Select the entire second column of np_baseball: np_weight
weight = baseball.iloc[:,4]

In [43]:
# Print out height of 124th player
print(baseball.iloc[123,3])

75